.navbar {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.navbar-right {
  margin-left: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.home-links {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}
